@namespace Blazr.App.UI
@inject IUIEntityService<DmoInvoice> UIEntityService
@inject NavigationManager NavManager
<PageTitle>@this.FormTitle</PageTitle>

@if (!this.HideHeader)
{
    <div class="d-flex flex-row mb-4 pt-1 pb-2 border-bottom">
        <div class="flex-fill justify-content-start h4">
            @this.FormTitle
        </div>
        <div class="justify-content-end">
            @* Action Buttons *@
        </div>
    </div>
}

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Id" Value="@_invoice.Id.Value.ToDisplayId()" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Customer Name" Value="@_invoice.CustomerName" />
    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Date" Value="@_invoice.Date.AsGlobalDateFormat()" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Total Amount" Value="@_invoice.TotalAmount.AsMoney()" />
    </div>


</div>

@if (!this.HideFooter)
{
    <div class="row">
        <div class="col-12 text-end">
            <UIButton ButtonColourType=UIButtonColourType.Exit ClickEvent=this.OnExit>Exit</UIButton>
        </div>
    </div>
}

@code {
    protected virtual string FormTitle => $"{this.UIEntityService.SingleDisplayName} Viewer";
    [CascadingParameter] private Invoice? Composite { get; set; }
    [CascadingParameter] private IModalDialog? ModalDialog { get; set; }

    [Parameter] public DmoInvoice? Invoice { get; set; }
    [Parameter] public bool HideHeader { get; set; }
    [Parameter] public bool HideFooter { get; set; }

    private DmoInvoice _invoice = default!;
    private string _exitUrl { get; set; } = "/";

    protected override void OnInitialized()
    {
        if (this.Composite is null && this.Invoice is null)
            ArgumentNullException.ThrowIfNull(this.Composite);

        _invoice = this.Composite is not null
            ? this.Composite.InvoiceRecord
            : this.Invoice!;

        if (this.Composite is not null)
        {
            this.Composite.StateHasChanged += this.OnCompositeStateChanged;
            _invoice = this.Composite.InvoiceRecord;
            return;
        }

        _invoice = this.Invoice!;

    }

    private void OnCompositeStateChanged(object? sender, InvoiceId id)
    {
        // We need to reload the invoice from the composite
        _invoice = this.Composite!.InvoiceRecord;
        this.StateHasChanged();
    }

    protected Task OnExit()
    {
        if (this.ModalDialog is null)
            this.NavManager.NavigateTo(_exitUrl);

        ModalDialog?.Close(new ModalResult());
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        if (this.Composite is not null)
            this.Composite.StateHasChanged -= this.OnCompositeStateChanged;
    }
}